p.solid {
  border-style: solid;
}
body {
  background-color:rgb(241, 255, 250);
}
h1   {
  font-family: "papyrus", fantasy; 
  font-size:50px; 
  color: rgb(69, 69, 69);
  text-shadow: 2px 2px 5px #8aa2a9;
}
    
h2   {
  font-family: 'Times New Roman', serif; 
  color: rgb(147, 183, 190); 
  text-decoration-line: overline; 
  text-decoration-color: #56876D;
}
    
div.desc    {
  color: rgb(213, 199, 188);
} 
    
.center {
  text-align: center;
  margin: auto;  
  padding: 20px;
}
    
#example1 {
  background: url(jboarder2.jpg) right bottom no-repeat, url(paper.gif) left top repeat;
  padding: 15px;
 }

div.gallery img {
  width: 100%;
  height: 6%;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
    
a:link {
  color:rgb(185, 199, 203);
}
a:visited {
  color:rgb(126, 152, 160);
}
a:hover {
  color:rgb(192, 216, 208);
}
